{%
  set classes = [
    'cols-' ~ header|length,
    responsive ? 'responsive-enabled',
    sticky ? 'sticky-enabled',
  ]
%}
<table{{ attributes.addClass(classes).addClass('simple-table') }}>
  {% if caption_needed %}
    <caption>
    {% if caption %}
      {{ caption }}
    {% else %}
      {{ title }}
    {% endif %}
    {% if (summary_element is not empty) %}
      {{ summary_element }}
    {% endif %}
    </caption>
  {% endif %}
  {% if header %}
    <thead>
      <tr>
        {% for key, column in header %}
          {% if column.default_classes %}
            {%
              set column_classes = [
                'views-field',
                'views-field-' ~ fields[key],
              ]
            %}
          {% endif %}
          <th{{ column.attributes.addClass(column_classes).setAttribute('scope', 'col') }}>
            {%- if column.wrapper_element -%}
              <{{ column.wrapper_element }}>
                {%- if column.url -%}
                  <a href="{{ column.url }}" title="{{ column.title }}" rel="nofollow">{{ column.content }}{{ column.sort_indicator }}</a>
                {%- else -%}
                  {{ column.content }}{{ column.sort_indicator }}
                {%- endif -%}
              </{{ column.wrapper_element }}>
            {%- else -%}
              {%- if column.url -%}
                <a href="{{ column.url }}" title="{{ column.title }}" rel="nofollow">{{ column.content }}{{ column.sort_indicator }}</a>
              {%- else -%}
                {{- column.content }}{{ column.sort_indicator }}
              {%- endif -%}
            {%- endif -%}
          </th>
        {% endfor %}
      </tr>
    </thead>
  {% endif %}
  <tbody>

    {% for row in rows|batch(3, '') %}
      <tr{{ row.attributes }}>
        {% for column in row %}

          {% for key, column_item in column.columns %}
            {% if column_item.default_classes %}
              {%
                set column_classes = [
                  'views-field'
                ]
              %}
              {% for field in column_item.fields %}
                {% set column_classes = column_classes|merge(['views-field-' ~ field]) %}
              {% endfor %}
            {% endif %}
            <td{{ column_item.attributes.addClass(column_classes) }}>
              {%- if column_item.wrapper_element -%}
                <{{ column_item.wrapper_element }}>
                {% for content in column_item.content %}
                  {{ content.separator }}{{ content.field_output }}
                {% endfor %}
                </{{ column_item.wrapper_element }}>
              {%- else -%}
                {% for content in column_item.content %}
                  {{- content.separator }}{{ content.field_output -}}
                {% endfor %}
              {%- endif %}
            </td>
          {% endfor %}

        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
